<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1" />
    {{ metatags }}

    {% block htmltitle %}
    <title>{{ title|striptags|e }}{{ titlesuffix }} | Korobi</title>
    {% endblock %}

    <link rel="icon" href="https://korobi.io/favicon.ico" />
    <link rel="author" type="text/plain" href="https://korobi.io/humans.txt" />
    <link rel="stylesheet" href="https://dev.korobi.io/assets/css/application_application_1.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />

    <style>
        .relbar ul {
            padding: 0;
        }
        .relbar li {
            display: inline;
        }
    </style>
</head>
<body>
    <nav class="navigation" role="navigation">
        <div class="navigation--inner">
            <div class="navigation--brand-mobile">
                <a href="https://korobi.io" class="navigation--brandlink navigation--brandlink-mobile">Korobi</a>
            </div>
            <div class="navigation--brand">
                <a href="https://korobi.io" class="navigation--brandlink" role="menuitem">Korobi</a>
                <i class="navigation--menutoggle fa fa-navicon"></i>
            </div>
            <ul class="navigation--links">
                <li class=""><a href="https://korobi.io" role="menuitem">Home</a></li><li class=""><a href="https://korobi.io/networks" role="menuitem">Networks</a></li><li class="external active"><a href="https://docs.korobi.io" role="menuitem">Docs <i class="fa fa-external-link"></i></a></li>
            </ul>
            <ul class="navigation--links navigation--links-secondary">
            </ul>
        </div>
    </nav>

    <main>
        <ul class="relbar">
            <li><a href="{{ pathto(master_doc) }}">{{ shorttitle|e }}</a> &raquo;</li>
            {%- for parent in parents %}
            <li><a href="{{ parent.link|e }}" {% if loop.last %}{{ accesskey("U") }}{% endif %}>{{ parent.title }}</a> &raquo;</li>
            {%- endfor %}
        </ul>
        <div class="docs">
            <section>
                {% block body %}{% endblock %}
            </section>
        </div>
    </main>

    <footer class="footer">
        <div class="footer--inner">
            <div class="footer--copyright">
                &copy; 2015, korobi.io team and contributors
            </div>
            <ul class="footer--links">
                <li class="external"><a href="https://github.com/korobi/Korobi/issues" role="menuitem">Issues <i class="fa fa-external-link"></i></a></li><li class=""><a href="https://github.com/korobi/Korobi/commits/master" role="menuitem">Revisions <i class="fa fa-external-link"></i></a></li>
            </ul>
        </div>
    </footer>

    <div id="bottom"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://korobi.io/assets/js/application.js"></script>
</body>
</html>
